:root{
  /* discord palette */
  --discord-green: hsla(153, 46%, 49%, 1);
  --discord-yellow: hsla(38, 96%, 54%, 1);
  --discord-yellow-alt: hsla(37, 65%, 63%, 1);
  --discord-yellow-light: hsla(50, 42%, 48%, 1);
  --discord-yellow-bg: hsla(38, 96%, 54%, 0.1);
  --discord-orange: hsla(20, 84%, 52%, 1);
  --discord-orange-light: hsla(24, 90%, 61%, 1);
  --discord-red: hsla(0, 85%, 61%, 1);
  --discord-red-hover: hsla(0, 66%, 55%, 1);
  --discord-blue: hsla(227, 58%, 65%, 1);
  --discord-blue-hover: hsla(227, 44%, 59%, 1);
  --discord-grey: hsla(214, 10%, 50%, 1);
  --discord-grey-hover: hsla(214, 10%, 45%, 1);
  --discord-grey-toggle: hsla(218, 5%, 47%, 1);
  --discord-dark: hsla(216, 7%, 14%, 1);
  --discord-dark-hover: hsla(216, 7%, 14%, 0.7);

  --blockquote-bg: hsla(240, 11%, 2%, 0.07);
  --blockquote-border: hsla(286, 22%, 66%, 1);
  --markup-code: hsla(34, 89%, 61%, 1);
  --font-size-notes: 0.875rem;
  
  --text-header: hsla(233, 45%, 69%, 1);
  --text-title-h1: hsla(243, 35%, 65%, 1);
  --text-title-h2: var(--text-header);
  --text-title-h3: var(--text-header);
  --text-title-h4: var(--text-header);
  --text-title-h5: var(--text-header);
  --text-title-h6: hsla(192, 13%, 53%, 1);

  --syntax-default: rgb(191, 193, 194);
  --syntax-red: rgb(224, 108, 117);
  --syntax-green: rgb(152, 195, 121);
  --syntax-yellow: rgb(209, 154, 102);
  --syntax-blue: rgb(86, 156, 214);
  --syntax-teal: rgb(86, 182, 194);
  --syntax-purple: rgb(198, 120, 221);
  --syntax-grey: rgb(112, 128, 144);
}
.theme-dark {
  --background-primary: hsla(220, 8%, 23%, 1);
  --background-primary-alt: hsla(232, 14%, 31%, 1);
  --background-secondary: hsla(223, 7%, 20%, 1);
  --background-secondary-alt: hsla(216, 7%, 14%, 1);
  --background-tertiary: hsla(220, 7%, 17%, 1);

  --background-accent: hsla(217, 8%, 34%, 1);

  --background-code: hsla(204, 6%, 17%, 1);
  --background-code-preview: hsla(204, 6%, 17%, 1);
  --background-code-border: hsla(0, 0%, 16%, 1);

  --background-modifier-cover: hsla(220, 8%, 23%, 1);
  --background-modifier-hover: hsla(217, 8%, 34%, 0.16);
  --background-modifier-active: hsla(217, 8%, 34%, 0.24);
  --background-modifier-selected: hsla(217, 8%, 34%, 0.32);
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
  --background-modifier-error: var(--discord-red);
  --background-modifier-error-hover: var(--discord-red-hover);
  --background-modifier-form-field: hsla(0, 0%, 0%, 0.2);
  --background-modifier-form-field-highlighted: hsla(0, 0%, 0%, 0.2);
  --background-modifier-border: var(--background-secondary-alt);

  --text-normal: hsla(213, 3%, 82%, 1);
  --text-muted: hsla(213, 4%, 57%, 1);
  --text-faint: hsla(0, 0%, 61%, 1);
  --text-link: hsla(197, 100%, 48%, 1);
  --text-accent: hsla(265, 66%, 72%, 1);
  --text-on-accent: hsla(210, 3%, 87%, 1);
  --text-selection: hsla(212, 34%, 54%, 0.5);
  --text-highlight-bg: hsla(212, 34%, 54%, 1);
  --text-linenumber: hsla(216, 3%, 32%, 0.85);
  --text-linenumber-active: hsla(0, 0%, 61%, 0.85);

  --text-strong: var(--discord-yellow-alt);
  --text-em: hsla(62, 31%, 61%, 1);
  --text-tag: hsla(27, 100%, 63%, 0.73);
  --text-mark: hsla(37, 82%, 74%, 1);

  --markup-code: hsla(34, 89%, 61%, 1);

  --text-a: hsla(322, 65%, 70%, 1);
  --text-a-hover: hsla(327, 100%, 77%, 1);

  --interactive-accent: var(--discord-green);
  --interactive-accent-hover: hsla(152, 60%, 43%, 1);
  --interactive-accent-light: var(--discord-yellow-light);

  --interactive-accent-alt: hsla(220, 7%, 17%, 1);
  --interactive-hover: hsla(210, 3%, 87%, 1);
  --interactive-muted: hsla(217, 8%, 34%, 1);
  --interactive-normal: hsla(216, 4%, 74%, 1);
  --interactive-active: hsla(0, 100%, 100%, 1);

  --scrollbar-bg: transparent;
  --scrollbar-thin-thumb: hsla(216, 7%, 14%, 1);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: hsla(216, 7%, 14%, 1);
  --scrollbar-auto-track: hsla(210, 10%, 20%, 1);
  --scrollbar-auto-scrollbar-color-thumb: hsla(216, 7%, 14%, 1);
  --scrollbar-auto-scrollbar-color-track: hsla(223, 7%, 20%, 1);

  --cursor: default;
  --opacity-translucency: 1;

  --graph-line: hsla(191, 57%, 35%, 1);
  --graph-line-highlight: hsla(191, 57%, 59%, 1);
  --graph-circle-outline: transparent;
  --graph-circle-fill: hsla(59, 99%, 50%, 1);
  --graph-circle-fill-highlight: hsla(59, 99%, 50%, 1);
  --graph-circle-fill-unresolved: hsla(206, 89%, 71%, 1);
  --graph-fill-tag: hsla(250, 100%, 77%, 1);
  --graph-fill-attachment: hsla(314, 57%, 63%, 1);
  --graph-arrow: hsla(314, 57%, 63%, 1);
}

/* .theme-dark {
  --background-primary: #272b34;
  --background-primary-alt: #20242b;
  --background-secondary: #20242b;
  --background-secondary-alt: #1a1e24;
  --background-accent: #000;
  --background-modifier-border: #424958;
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #539126;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #61afef;
  --text-accent-hover: #69bafd;
  --text-normal: #dcddde;
  --text-muted: #888;
  --text-faint: rgb(81, 86, 99);
  --text-error: #e16d76;
  --text-error-hover: #c9626a;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-selection: rgba(0, 122, 255, 0.2);
  --text-on-accent: #dcddde;
  --interactive-normal: #20242b;
  --interactive-hover: #353b47;
  --interactive-accent: #4c78cc;
  --interactive-accent-rgb: 76, 120, 204;
  --interactive-accent-hover: #5082df;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --panel-border-color: #18191e;

  --gray-1: #5C6370;
  --gray-2: #abb2bf;
  --red: #e06c75;
  --orange: #d19a66;
  --green: #98c379;
  --aqua: #56b6c2;
  --purple: #c678dd;
  --blue: #61afef;
  --yellow: #e5c07b;
} */

.theme-light {
  --background-primary: #fafafa;
  --background-primary-alt: #eaeaeb;
  --background-secondary: #eaeaeb;
  --background-secondary-alt: #dbdbdc;
  --background-accent: #fff;
  --background-modifier-border: #dbdbdc;
  --background-modifier-form-field: #fff;
  --background-modifier-form-field-highlighted: #fff;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: #A4E7C3;
  --background-modifier-error: #e68787;
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #FF9494;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: #1592ff;
  --text-accent-hover: #2d9dff;
  --text-normal: #383a42;
  --text-muted: #8e8e90;
  --text-faint: #999999;
  --text-error: #e75545;
  --text-error-hover: #f86959;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-selection: rgba(0, 122, 255, 0.15);
  --text-on-accent: #f2f2f2;
  --interactive-normal: #eaeaeb;
  --interactive-hover: #dbdbdc;
  --interactive-accent-rgb: 21, 146, 255;
  --interactive-accent: #5871ef;
  --interactive-accent-hover: #445bd1;

  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
  --panel-border-color: #dbdbdc;

  --gray-1: #383a42;
  --gray-2: #383a42;
  --red: #e75545;
  --green: #4ea24c;
  --blue: #3d74f6;
  --purple: #a625a4;
  --aqua: #0084bc;
  --yellow: #e35649;
  --orange: #986800;
}

body {
  -webkit-font-smoothing: auto;
}

.search-result-file-title {
  color: var(--blue);
}

li {
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.tag, .tag:hover {
  color: var(--yellow);
  background-color: var(--background-primary-alt);
  padding: 2px 4px;
  border-radius: 4px;
}
/*----------------------------------------------------------------
Bold */

strong {
  color: var(--discord-yellow-alt);
  font-weight: 600;
}

.cm-s-obsidian .cm-strong {
  color: var(--discord-yellow-alt);
  font-weight: 600;
}

/*----------------------------------------------------------------
Italics */

em {
  color: var(--text-em);
}

.cm-em {
  color: var(--text-em);
}

.cm-formatting-em {
  font-style: normal;
}

.cm-em:not(.cm-formatting-em) {
  margin-left: -1px;
}

/*---------------------Highlights--------------------------- */

.markdown-preview-view mark {
  background-color: transparent !important;
  -webkit-box-shadow: inset 0 -2px var(--discord-yellow-alt);
  box-shadow: inset 0 -2px var(--discord-yellow-alt);
  padding-bottom: 4px;
}

.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
  background-color: unset;
  -webkit-box-shadow: var(--discord-yellow-alt) 0 -2px 0 0 inset;
  box-shadow: var(--discord-yellow-alt) 0 -2px 0 0 inset;
  margin: 4px 0;
  padding-bottom: 4px;
}

.cm-s-obsidian span.cm-formatting-highlight {
  color: var(--text-muted);
}

mark > strong {
  color: var(--discord-yellow-alt) !important;
  font-weight: 500;
  padding: 0 2px;
}
/*--------------------END HIGHLIGHTS--------------------------*/
/*------------PREVIEW-------------*/

.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  font-weight: 600;
  margin-block-start: 1em;
  margin-block-end: 1em;
  line-height: 125% !important;
}

.markdown-preview-view h1 {
  font-size: 2rem;
  color: var(--text-title-h1);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 0;
}

.markdown-preview-view h2 {
  font-size: 1.625rem;
  color: var(--text-title-h2);
}

.markdown-preview-view h3 {
  font-size: 1.375rem;
  color: var(--text-title-h3);
}

.markdown-preview-view h4 {
  font-size: 1.125rem;
  color: var(--text-title-h4);
}

.markdown-preview-view h5 {
  font-size: 1.125rem;
  color: var(--text-title-h5);
}

.markdown-preview-view h6 {
  font-size: 1rem;
  color: var(--text-title-h6);
}

.markdown-preview-view .task-list-item-checkbox {
  -webkit-appearance: none;
  box-sizing: border-box;
  border: 1px solid var(--text-muted);
  border-radius: 2px;
  position: relative;
  width: 1.3em;
  height: 1.3em;
  margin: 0;
  filter: none;
  outline: none;
  margin-right: 4px;
  margin-bottom: 2px;
  cursor: pointer;
  vertical-align: baseline;
}

.markdown-preview-view .task-list-item-checkbox:checked {
  border: none;
  background-color: var(--interactive-accent);
}

.markdown-preview-view .task-list-item-checkbox:checked::before {
  content: ' ';
  position: absolute;
  background-color: white;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 14 14\'%3E%3Cpolygon points=\'5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039\'%3E%3C/polygon%3E%3C/svg%3E');
}
/*-------------END PREVIEW------------------------*/
.cm-formatting.cm-formatting-header.cm-header {
  font-weight: 400;
}

.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6 {
  font-weight: 600;
  margin-block-start: 1em;
  line-height: 125% !important;
}

.cm-header-1 {
  font-size: 2rem;
  color: var(--text-title-h1);
  margin-block-start: 0;
}

.cm-header-2 {
  font-size: 1.625rem;
  color: var(--text-title-h2);
}

.cm-header-3 {
  font-size: 1.375rem;
  color: var(--text-title-h3);
}

.cm-header-4 {
  font-size: 1.125rem;
  color: var(--text-title-h4);
}

.cm-header-5 {
  font-size: 1.125rem;
  color: var(--text-title-h5);
}

.cm-header-6 {
  font-size: 1rem;
  color: var(--text-title-h6);
}
/* # UserDef */
.cm-comment{
  color:#be60699e !important; 
  font-size: var(--text-title-h6);
  font-style: oblique !important;
}
/* .cm-s-obsidian span.cm-header-1.cm-footref,
.cm-s-obsidian span.cm-header-1.cm-blockid,
.cm-s-obsidian span.cm-header-2.cm-footref,
.cm-s-obsidian span.cm-header-2.cm-blockid,
.cm-s-obsidian span.cm-header-3.cm-footref,
.cm-s-obsidian span.cm-header-3.cm-blockid {
  font-size: 1rem;
  vertical-align: text-top;
  margin-top: -1rem;
}

.cm-s-obsidian span.cm-header-4.cm-footref,
.cm-s-obsidian span.cm-header-4.cm-blockid,
.cm-s-obsidian span.cm-header-5.cm-footref,
.cm-s-obsidian span.cm-header-5.cm-blockid,
.cm-s-obsidian span.cm-header-6.cm-footref,
.cm-s-obsidian span.cm-header-6.cm-blockid {
  font-size: 0.75rem;
  vertical-align: text-top;
  margin-top: -0.75rem;
}

.cm-s-obsidian pre.HyperMD-header {
  padding-bottom: 0;
  padding-left: 0 !important;
}

.vertical-tab-content h1:first-child,
.vertical-tab-content h2:first-child,
.vertical-tab-content h3:first-child {
  margin-block-start: 0;
} */
/*----------------END EDITOR--------------------*/

NO FILE OPEN page */

.empty-state-title {
  color: var(--discord-yellow-alt) !important;
}

.empty-state-action {
  color: var(--text-muted) !important;
}

.empty-state-action:hover {
  color: var(--text-normal) !important;
}
/*-------------------END NO FILE OPEN PAGE------------
.nav-file-title, .nav-folder-title {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.nav-file-title-content, .nav-folder-title-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-section,
.markdown-source-view.is-readable-line-width .CodeMirror {
  max-width: 900px !important;
  line-height: 26px;
}

blockquote {
  margin: 20px 0;
}

body {
  --font-monospace: 'Fira Code', 'Source Code Pro', monospace;
}

mjx-container[jax='CHTML'] {
  text-align: left;
  outline: none;
  font-size: 20px;
}
/*----------------------BLOCK QUOUTES--------------------------------*/
/* # UserDef  */
/* Edit Mode */
.cm-s-obsidian span.cm-quote{
  color: var(--discord-blue);
} 
.cm-hmd-indent-in-quote {
  padding-left: 4px;
}

.markdown-preview-view blockquote {
  color: var(--text-mark) !important;
  border: none;
  border-left: 3px solid var(--blockquote-border) !important;
  border-radius: 4px !important;
  margin: 1.5rem 1.5rem 1.5rem 3.5rem;
  background-color: var(--blockquote-bg);
  display: grid;
}
blockquote p {
  display: grid;
}
/*----------------------END BLOCK QUOTES--------------------------------*/

/*------------------Workspace Nav Buttons------------------------------*/
.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover,
.side-dock-ribbon-action.is-active:hover,
.nav-action-button:hover,
.side-dock-collapse-btn:hover,
.workspace-ribbon-collapse-btn:hover {
     color: var(--discord-orange);
}

.titlebar-button.mod-back,    
.titlebar-button.mod-forward,    
.titlebar-button.mod-minimize,
.titlebar-button.mod-maximize,
.titlebar-button.mod-close {
    opacity: 1;
    color: var(--discord-orange);
      
    
  }

  .titlebar-button.mod-back:hover,    
  .titlebar-button.mod-forward:hover,
  .titlebar-button.mod-minimize:hover,
  .titlebar-button.mod-maximize:hover,
  .titlebar-button.mod-close:hover {
    background-color: var(--discord-blue-hover);
  }

.workspace-tab-header-inner-icon:hover{
    color: var(--discord-orange)
}

.workspace-tab-header.is-active {
    background-color: var(--discord-orange-light);
}
/*------------------END WORKSPACE NAV BUTTONS---------------------------*/
/*--------------------TABLES-----------------------*/
th {
  font-weight: 800;
}

thead {
  border-top: 2px solid var(--discord-yellow-alt);
}

table {
  border-collapse: collapse;
}

/*--------------END TABLES--------------------------------------*/
/*----------------------------------------------------------------
LISTS
----------------------------------------------------------------*/

ul {
  padding-inline-start: 2em;
  list-style: none;
  list-style-type: none;
}

ul ul,
ol ul,
ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul {
  list-style: none;
  list-style-type: none;
}

ul > li:not(.task-list-item)::before {
  content: "\2022";
  color: var(--text-faint);
  font-weight: 400;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ul li p,
ol li p {
  display: inline;
}

ol {
  padding-inline-start: 1rem;
  margin-left: 1rem;
  list-style: none;
  counter-reset: counter;
  position: relative;
}

ol > li {
  counter-increment: counter;
  margin: 0.3rem 0 0.3rem 0;
}

ol > li::before {
  content: counter(counter) ". ";
  color: var(--text-faint);
  position: absolute;
  text-align: right;
  left: -1.25rem;
  width: 2rem;
}

.markdown-preview-section > ul.contains-task-list {
  margin-block-end: 2rem;
}
ul.contains-task-list li > div.list-collapse-indicator {
  margin-top: 0.5rem;
}

ul.contains-task-list li {
  margin: 0;
}
/*--------------END LISTS-------------*/
.cm-s-obsidian pre.HyperMD-codeblock,
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian span.cm-math:not(.cm-formatting-math-begin):not(.cm-formatting-math-end),
.markdown-preview-view code {
  /* color: inherit; */
  padding: 0 0.5rem;
  /* color:var(--text-muted); */
  color:var(--text-t);
  font-family: var(--font-monospace);
  font-size: 100%;
  white-space: pre-wrap;
  background-clip: border-box;
}

.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian span.cm-math,
.cm-s-obsidian span.hmd-fold-math-placeholder {
  font-weight: 600;
  font-style: normal;
  color: var(--markup-code);
}

.markdown-preview-view code {
  vertical-align: text-top;
  word-break: break-word;
  color: var(--markup-code);
}

.markdown-preview-section:not(:first-child) h1,
.markdown-preview-section:not(:first-child) h2,
.markdown-preview-section:not(:first-child) h3,
.markdown-preview-section:not(:first-child) h4,
.markdown-preview-section:not(:first-child) h5,
.markdown-preview-section:not(:first-child) h6 {
  margin-top: 40px !important;
}

h1, h2, h3, h4, h5, h6, strong, b, .view-header-title {
  font-weight: 600;
}

.workspace > .workspace-split > .workspace-leaf:first-of-type:last-of-type .view-header {
  border: none;
}

.status-bar, .side-dock.mod-right, .side-dock.mod-left {
  border-color: var(--panel-border-color);
  border-width: 1px;
}

.status-bar {
  --bar-vertical-padding: 4px;
  --bar-height: calc(22px + (var(--bar-vertical-padding) * 2));
  line-height: 20px;
  padding: 0 20px;
  height: var(--bar-height);
  max-height: var(--bar-height);
  min-height: var(--bar-height);
  overflow: hidden;
}

.status-bar-item {
  margin: auto 0;
}

.status-bar-item > * {
  padding-top: var(--bar-vertical-padding) !important;
  padding-bottom: var(--bar-vertical-padding) !important;
}

.nav-file.is-active {
  --background-secondary-alt: var(--interactive-accent);
  --text-normal: #ffffff;
}

.nav-file:not(.is-active):hover .nav-file-title,
.nav-folder:hover .nav-folder-content {
  background-color: transparent;
}

.side-dock-plugin-panel-inner {
  padding-left: 6px;
}

a,
.markdown-preview-view .internal-link {
  text-decoration: none;
}

a:hover,
.markdown-preview-view .internal-link:hover {
  text-decoration: underline;
}

.theme-dark :not(pre) > code[class*='language-'],
.theme-dark pre[class*='language-'] {
  background: var(--background-primary-alt);
}

.theme-light :not(pre) > code[class*='language-'],
.theme-light pre[class*='language-'] {
  background: var(--background-primary);
  box-shadow: inset 0 0 0 1px var(--background-primary-alt);
  border-radius: 4px;
}

.markdown-preview-view blockquote {
  border-radius: 4px;
}

.markdown-preview-view .markdown-embed,
.markdown-preview-view .file-embed {
  margin: 0;
  border-radius: 4px;
}

.theme-light .token.operator,
.theme-light .token.entity,
.theme-light .token.url,
.theme-light .language-css .token.string,
.theme-light .style .token.string {
  background: transparent;
}

body:not(.is-grabbing) .nav-file:not(.is-active) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder:not(.is-active) .nav-folder-title:hover {
  --text-normal: var(--text-muted);
  --background-secondary-alt: var(--background-secondary);
}

/* Source: https://github.com/AGMStudio/prism-theme-one-dark */

code[class*='language-'],
pre[class*='language-'] {
  text-align: left !important;
  white-space: pre !important;
  word-spacing: normal !important;
  word-break: normal !important;
  word-wrap: normal !important;
  line-height: 1.5 !important;
  -moz-tab-size: 4 !important;
  -o-tab-size: 4 !important;
  tab-size: 4 !important;
  -webkit-hyphens: none !important;
  -moz-hyphens: none !important;
  -ms-hyphens: none !important;
  hyphens: none !important;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em !important;
  margin: .5em 0 !important;
  overflow: auto !important;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: .1em !important;
  border-radius: .3em !important;
  white-space: normal !important;
}


/*------------------Code----------*/
.theme-dark .token.property,
.theme-dark .token.tag,
.theme-dark .token.constant,
.theme-dark .token.symbol,
.theme-dark .token.deleted {
  color: var(--syntax-red) !important;
}

.theme-dark .token.selector,
.theme-dark .token.attr-name,
.theme-dark .token.string,
.theme-dark .token.char,
.theme-dark .token.builtin,
.theme-dark .token.inserted {
  color: var(--syntax-green)!important;
}

.theme-dark .token.atrule,
.theme-dark .token.attr-value,
.theme-dark .token.function,
.theme-dark .token.class-name {
  color: var(--syntax-yellow) !important;
}

.theme-dark .token.punctuation {
  color: var(--text-normal)!important;
}

.theme-dark .token.keyword {
  color: var(--syntax-blue) !important;
}

.theme-dark .token.operator,
.theme-dark .token.entity,
.theme-dark .token.url,
.theme-dark .language-css .token.string,
.theme-dark .style .token.string,
.theme-dark .token.variable {
  color: var(--syntax-teal)!important;
}

.theme-dark .token.boolean,
.theme-dark .token.number,
.theme-dark .language-css .token.unit {
  color: var(--syntax-purple)!important;
}

.theme-dark .token.comment,
.theme-dark .token.prolog,
.theme-dark .token.doctype,
.theme-dark .token.cdata {
  color: var(--syntax-grey) !important;
}
/*------------------------------*/
/* Light Theme Code Syntax */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--gray-1) !important;
}

.token.punctuation {
  color: var(--gray-2) !important;
}

.token.selector,
.token.tag {
  color: var(--red) !important;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
  color: var(--orange) !important;
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
  color: var(--green) !important;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--aqua) !important;
}

.token.atrule,
.token.keyword {
  color: var(--purple) !important;
}

.token.function,
.token.macro.property {
  color: var(--blue) !important;
}

.token.class-name {
  color: var(--yellow) !important;
}

.token.regex,
.token.important,
.token.variable {
  color: var(--purple) !important;

}

.token.important,
.token.bold {
  font-weight: bold !important;
}

.token.italic {
  font-style: italic !important;
}

.token.entity {
  cursor: help !important;
}

pre.line-numbers {
  position: relative !important;
  padding-left: 3.8em !important;
  counter-reset: linenumber !important;
}

pre.line-numbers > code {
  position: relative !important;
}

.line-numbers .line-numbers-rows {
  position: absolute !important;
  pointer-events: none !important;
  top: 0 !important;
  font-size: 100% !important;
  left: -3.8em !important;
  width: 3em !important; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px !important;
  border-right: 0 !important;

  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.line-numbers-rows > span {
  pointer-events: none !important;
  display: block !important;
  counter-increment: linenumber !important;
}

.line-numbers-rows > span:before {
  content: counter(linenumber) !important;
  color: var(--syntax-gray-1) !important;
  display: block !important;
  padding-right: 0.8em !important;
  text-align: right !important;
}

/*----------------------------------------------------------------
FOLDING (credits to @mgmeyers for svg icons)
----------------------------------------------------------------*/

.markdown-preview-view .collapse-indicator {
  position: relative;
  cursor: pointer;
  margin: 0;
  float: none;
  padding-left: 0;
  display: inline-block;
  line-height: inherit;
  font-size: unset;
  width: 0;
  height: 0.5em;
}

.markdown-preview-view .collapse-indicator > svg {
  display: none;
}

.markdown-preview-view .collapse-indicator::before {
  position: absolute;
  left: -2.5rem;
  top: calc(-0.5em - 3px);
}

.markdown-preview-view .heading-collapse-indicator {
  margin-left: -2px;
  padding: 0;
}

.markdown-preview-view .heading-collapse-indicator::before {
  left: -2rem;
}

.markdown-preview-view .frontmatter-collapse-indicator::before {
  left: -2.9rem;
}

.markdown-preview-view .collapse-indicator::before,
.CodeMirror-foldgutter-open::after {
  display: block;
  width: 18px;
  opacity: 0.3;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" style="fill:rgba(0, 0, 0);"><path d="M16.293 9.293L12 13.586 7.707 9.293 6.293 10.707 12 16.414 17.707 10.707z"></path></svg>');
}

.theme-dark .markdown-preview-view .collapse-indicator::before,
.theme-dark .CodeMirror-foldgutter-open::after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" style="fill:rgba(204,204,204);"><path d="M16.293 9.293L12 13.586 7.707 9.293 6.293 10.707 12 16.414 17.707 10.707z"></path></svg>');
}

.theme-dark .markdown-preview-view .collapse-indicator::before {
  margin-left: 2px;
}

.theme-dark .markdown-preview-view ul li .collapse-indicator::before {
  margin-left: calc(1rem - var(--font-size-notes) + 0.125rem);
  margin-top: 2px;
}

.theme-dark .markdown-preview-view ol li .collapse-indicator::before {
  margin-left: calc(1rem - var(--font-size-notes));
  margin-top: 2px;
}

.theme-dark .markdown-preview-view ul.contains-task-list li .collapse-indicator::before {
  margin-left: 18px;
  margin-top: 0;
}

.markdown-preview-view .is-collapsed .collapse-indicator::before,
.CodeMirror-foldgutter-folded::after {
  display: block;
  width: 18px;
  /*height: 18px;*/
  opacity: 0.3;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" style="fill:rgb(0, 0, 0);"><path d="M10.707 17.707L16.414 12 10.707 6.293 9.293 7.707 13.586 12 9.293 16.293z"></path></svg>');
}

.theme-dark .markdown-preview-view .is-collapsed .collapse-indicator::before,
.theme-dark .CodeMirror-foldgutter-folded::after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" style="fill:rgb(204,204,204);"><path d="M10.707 17.707L16.414 12 10.707 6.293 9.293 7.707 13.586 12 9.293 16.293z"></path></svg>');
}

/* .CodeMirror-gutter-wrapper {
  padding: 0;
  width: 18px;
  left: -2rem !important;
  display: flex;
}

.CodeMirror-gutter-elt {
  width: unset !important;
  position: static;
  height: 100%;
}

.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  color: var(--text-faint);
  display: flex;
  height: 100%;
  align-items: center;
  transition: color 100ms ease;
}

.cm-s-obsidian .CodeMirror-gutters {
  width: 18px;
  left: 8px !important;
  padding-right: 0;
  transform: translateX(2rem);
}

.CodeMirror-foldgutter {
  width: 18px;
} */